<div class="container-fluid register-box vh-100 my-0 align-items-center d-flex">
  <%= form_for resource, as: resource_name, url: session_path(resource_name), html: { class: "register-form p-md-4 w-100" } do |f| %>
    <p class="h4 fw-bold text-center pt-4 mb-5">Sign In</p>
    <div class="mb-4">
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder: "Email address", required: true%>
    </div>
    <div class="mb-4">
      <%= f.password_field :password, autofocus: true, autocomplete: "new-password", class: "form-control", placeholder: "Password", required: true %>
    </div>
    <div class="mb-4 d-flex align-items-center justify-content-center">
      <label for="check" class="d-flex align-items-center justify-content-center ">
        <input type="checkbox" id="check"> <span class="ms-2 textmuted">Subscrible to our newsletter</span> </label>
    </div>
    <div class="mb-4">
      <%= f.submit "SIGN IN", class: "btn btn-primary d-block w-100" %>
    </div>
    <p class="text-center textmuted"> or sign in with:</p>
    <div class="pb-4">
      <ul class="d-flex align-items-center justify-content-center list-unstyled icons">
        <li class="icon me-3">
          <%= link_to "/auth/facebook", method: :post, class: "text-white" do %>
            <span class="fab fa-facebook"></span>
          <% end %>
        </li>
        <li class="icon me-3">
          <%= link_to "/auth/google", class: "text-white" do %>
            <span class="fab fa-google-plus"></span>
          <% end %>
        </li>
        <li class="icon me-3">
          <%= link_to "/auth/google", class: "text-white" do %>
            <span class="fab fa-twitter"></span>
          <% end %>
        </li>
        <li class="icon ">
          <%= link_to "/auth/google", class: "text-white" do %>
            <span class="fab fa-github"></span>
          <% end %>
        </li>
      </ul>
    </div>
    <div class="text-center">
      <%= link_to "Sign Up", new_user_registration_path, class: "text-decoration-none"  %>
    </div>
  <% end %>
</div>
